Repository carlkidcrypto/ezsnmp: changes, and which Codecov flags are due for each by the changed paths.
All: python, cpp, Python Code, C++ Code

Restore OID_INDEX_RE4 tests lost during merge from main
  cpp_tests/test_helpers.cpp
Due: none

Common Snmpd Conf
  .github/workflows/integration_tests.yml
  .github/workflows/integration_tests_docker.yml
  .github/workflows/tests_cpp_native.yml
  .github/workflows/tests_homebrew.yml
  .github/workflows/tests_macports.yml
  .github/workflows/tests_native.yml
  configs/snmpd.conf
  docker/DockerEntry.sh
  python_tests/README.rst
  sphinx_docs_build/source/development.rst
Due: none

Create build_and_publish_docker_images.yml
  .github/workflows/build_and_publish_docker_images.yml
Due: none

Update test_sessionbase.cpp
  cpp_tests/test_sessionbase.cpp
Due: none

More Coverage
  cpp_tests/test_snmpgetnext.cpp
  cpp_tests/test_snmpset.cpp
Due: none

Apply suggestions from code review
  .github/workflows/build_and_publish_docker_images.yml
Due: none

[WIP] Fix issues in build_and_publish_docker_images.yml based on feedback (#659)
  .github/workflows/build_and_publish_docker_images.yml
Due: none

Create build_and_publish_docker_images.yml (#657)
  .github/workflows/build_and_publish_docker_images.yml
Due: none

Add snmpwalk shim and new error/timeout tests
  cpp_tests/meson.build
  cpp_tests/test_helpers.cpp
  cpp_tests/test_sessionbase.cpp
  cpp_tests/test_snmpget.cpp
  cpp_tests/test_snmpgetnext.cpp
  cpp_tests/test_snmpset.cpp
  cpp_tests/test_snmpwalk.cpp
  cpp_tests/test_snmpwalk_shim.cpp
Due: none

Clang FOrmat
  cpp_tests/test_snmpget.cpp
  cpp_tests/test_snmpwalk.cpp
  cpp_tests/test_snmpwalk_shim.cpp
Due: none

Add SNMP shim tests and update CI comments
  .github/workflows/integration_tests.yml
  .github/workflows/integration_tests_docker.yml
  cpp_tests/README.rst
  cpp_tests/meson.build
  cpp_tests/test_helpers.cpp
  cpp_tests/test_snmpbulkget_shim.cpp
  cpp_tests/test_snmpget_shim.cpp
  cpp_tests/test_snmpgetnext_shim.cpp
Due: none

Include datatypes.h in SNMP headers
  ezsnmp/include/snmpbulkget.h
  ezsnmp/include/snmpgetnext.h
Due: cpp, C++ Code

Fix OID/Index parsing for tables with quoted strings in indexes (#525)
  .github/workflows/integration_tests.yml
  .github/workflows/integration_tests_docker.yml
  _codeql_detected_source_root
  cpp_tests/README.rst
  cpp_tests/meson.build
  cpp_tests/test_helpers.cpp
  cpp_tests/test_sessionbase.cpp
  cpp_tests/test_snmpbulkget_shim.cpp
  cpp_tests/test_snmpget.cpp
  cpp_tests/test_snmpget_shim.cpp
  cpp_tests/test_snmpgetnext.cpp
  cpp_tests/test_snmpgetnext_shim.cpp
  cpp_tests/test_snmpset.cpp
  cpp_tests/test_snmpwalk.cpp
  cpp_tests/test_snmpwalk_shim.cpp
  ezsnmp/include/snmpbulkget.h
  ezsnmp/include/snmpgetnext.h
  ezsnmp/src/helpers.cpp
Due: cpp, C++ Code

Delete _codeql_detected_source_root
  _codeql_detected_source_root
Due: none

Delete _codeql_detected_source_root (#660)
  _codeql_detected_source_root
Due: none

Use super() for SessionBase methods
  cpp_tests/test_sessionbase.cpp
  ezsnmp/session.py
Due: python, Python Code

test_getters
  python_tests/test_getters.py
Due: none

Session.py
  ezsnmp/session.py
Due: python, Python Code

Include integration tests & suppress MIB warnings
  .github/workflows/integration_tests.yml
  .github/workflows/integration_tests_docker.yml
  ezsnmp/src/thread_safety.cpp
Due: cpp, C++ Code

Disable net-snmp logging and MIB warnings
  ezsnmp/patches/master_src/snmpbulkget.cpp
  ezsnmp/patches/master_src/snmpbulkwalk.cpp
  ezsnmp/patches/master_src/snmpget.cpp
  ezsnmp/patches/master_src/snmpgetnext.cpp
  ezsnmp/patches/master_src/snmpset.cpp
  ezsnmp/patches/master_src/snmptrap.cpp
  ezsnmp/patches/master_src/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmptrap.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmptrap.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmptrap.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmptrap.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpwalk.cpp
  ezsnmp/src/thread_safety.cpp
Due: cpp, C++ Code

Update test_getters.py
  python_tests/test_getters.py
Due: none

Throw ParseError for separated -Cr/-Cn args
  cpp_tests/test_snmpbulkget.cpp
  cpp_tests/test_snmpbulkwalk.cpp
  ezsnmp/patches/master_src/snmpbulkget.cpp
  ezsnmp/patches/master_src/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpbulkwalk.cpp
Due: cpp, C++ Code

Add tests for separated -Cr/-Cn ParseError
  python_tests/test_netsnmp.py
Due: none

Use super() for SessionBase methods (#664)
  .github/workflows/integration_tests.yml
  .github/workflows/integration_tests_docker.yml
  cpp_tests/test_sessionbase.cpp
  ezsnmp/patches/master_src/snmpbulkget.cpp
  ezsnmp/patches/master_src/snmpbulkwalk.cpp
  ezsnmp/patches/master_src/snmpget.cpp
  ezsnmp/patches/master_src/snmpgetnext.cpp
  ezsnmp/patches/master_src/snmpset.cpp
  ezsnmp/patches/master_src/snmptrap.cpp
  ezsnmp/patches/master_src/snmpwalk.cpp
  ezsnmp/session.py
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmptrap.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmptrap.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmptrap.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmptrap.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpwalk.cpp
  python_tests/test_getters.py
Due: python, cpp, Python Code, C++ Code

Document -C option behavior and bump version
  ezsnmp/include/snmpbulkget.h
  ezsnmp/include/snmpbulkwalk.h
  setup.cfg
  sphinx_docs_build/source/conf.py
  sphinx_docs_build/source/index.rst
Due: cpp, C++ Code

Assert specific ParseError messages in tests
  cpp_tests/test_snmpbulkget.cpp
  cpp_tests/test_snmpbulkwalk.cpp
  python_tests/test_netsnmp.py
Due: none

Enable parallel coverage; tidy snmpbulk formatting
  .coveragerc
  ezsnmp/patches/master_src/snmpbulkget.cpp
  ezsnmp/patches/master_src/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpbulkwalk.cpp
  python_tests/.coveragerc
  python_tests/test_netsnmp.py
Due: cpp, C++ Code

Fix FD stats parsing in integration test workflows
  .github/workflows/integration_tests.yml
  .github/workflows/integration_tests_docker.yml
Due: none

Exclude versioned patched sources from codecov coverage
  codecov.yml
Due: none

Revert "Exclude versioned patched sources from codecov coverage"
  codecov.yml
Due: none

Fix/issue 655 exit in optproc (#667)
  .coveragerc
  .github/workflows/integration_tests.yml
  .github/workflows/integration_tests_docker.yml
  cpp_tests/test_snmpbulkget.cpp
  cpp_tests/test_snmpbulkwalk.cpp
  ezsnmp/include/snmpbulkget.h
  ezsnmp/include/snmpbulkwalk.h
  ezsnmp/patches/master_src/snmpbulkget.cpp
  ezsnmp/patches/master_src/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpbulkwalk.cpp
  python_tests/.coveragerc
  python_tests/test_netsnmp.py
  setup.cfg
  sphinx_docs_build/source/conf.py
  sphinx_docs_build/source/index.rst
Due: cpp, C++ Code

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

Add deploy_pages job for GitHub Pages
  .github/workflows/sphinx_build.yml
Due: none

Add deploy_pages job for GitHub Pages (#673)
  .github/workflows/sphinx_build.yml
Due: none

Close SNMP session before cleanup
  ezsnmp/patches/master_src/snmpget.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpget.cpp
Due: cpp, C++ Code

Use unique_ptr for SNMP session cleanup
  ezsnmp/patches/master_src/snmpbulkget.cpp
  ezsnmp/patches/master_src/snmpbulkwalk.cpp
  ezsnmp/patches/master_src/snmpget.cpp
  ezsnmp/patches/master_src/snmpgetnext.cpp
  ezsnmp/patches/master_src/snmpset.cpp
  ezsnmp/patches/master_src/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpwalk.cpp
Due: cpp, C++ Code

Centralize SnmpSessionCloser in helpers.h
  ezsnmp/include/helpers.h
  ezsnmp/patches/master_src/snmpbulkget.cpp
  ezsnmp/patches/master_src/snmpbulkwalk.cpp
  ezsnmp/patches/master_src/snmpget.cpp
  ezsnmp/patches/master_src/snmpgetnext.cpp
  ezsnmp/patches/master_src/snmpset.cpp
  ezsnmp/patches/master_src/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.6-final-patched/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.8-final-patched/snmpwalk.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpbulkget.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpget.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpgetnext.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpset.cpp
  ezsnmp/src/net-snmp-5.9-final-patched/snmpwalk.cpp
Due: cpp, C++ Code

Pass raw session pointer to snmpbulkwalk calls
  ezsnmp/src/net-snmp-5.6-final-patched/snmpbulkwalk.cpp
  ezsnmp/src/net-snmp-5.7-final-patched/snmpbulkwalk.cpp
Due: cpp, C++ Code

Use smart pointer reset for SNMP session
  ezsnmp/src/net-snmp-5.7-final-patched/snmpget.cpp
Due: cpp, C++ Code

Path conditions:
  python: any of: ezsnmp/**/*.py, but not: python_tests/**, cpp_tests/**, integration_tests/**, cml_tests/**, tests/**, test_*.py, test_*.cpp, **/test_*.py, **/test_*.cpp, **/*_test.py, **/*_test.cpp, conftest.py, setup.py, setup.cfg
  cpp: any of: ezsnmp/**/*.cpp, ezsnmp/**/*.h, but not: python_tests/**, cpp_tests/**, integration_tests/**, cml_tests/**, tests/**, test_*.py, test_*.cpp, **/test_*.py, **/test_*.cpp, **/*_test.py, **/*_test.cpp, conftest.py, setup.py, setup.cfg
  Python Code: any of: ezsnmp/**/*.py, but not: python_tests/**, cpp_tests/**, integration_tests/**, cml_tests/**, tests/**, test_*.py, test_*.cpp, **/test_*.py, **/test_*.cpp, **/*_test.py, **/*_test.cpp, conftest.py, setup.py, setup.cfg
  C++ Code: any of: ezsnmp/**/*.cpp, ezsnmp/**/*.h, but not: python_tests/**, cpp_tests/**, integration_tests/**, cml_tests/**, tests/**, test_*.py, test_*.cpp, **/test_*.py, **/test_*.cpp, **/*_test.py, **/*_test.cpp, conftest.py, setup.py, setup.cfg
